* {
  font-family: "Rubik", sans-serif;
  font-size: large;
  font-weight: bold;
}

#info {
  position: relative;
  left: 1100px;
  bottom: 800px;
}

#character {
  position: relative;
  transition: left 0.25s;
}

#justincase {
  width: 50px;
  height: 50px;
  background-color: red;
  border: 3px, solid, black;
}

#bot1 {
  filter: sepia(1) saturate(10) hue-rotate(15deg) brightness(0);
  position: relative;
  transition: left 0.25s;
}

#bot2 {
  filter: hue-rotate(120deg);
  position: relative;
  transition: left 0.25s;
}

#bot3 {
  filter: sepia(1) saturate(10) hue-rotate(15deg) brightness(1.5);
  position: relative;
  transition: left 0.25s;
}

#bot4 {
  filter: hue-rotate(240deg);
  position: relative;
  transition: left 0.25s;
}

#finishLine {
  width: 10px;
  height: 550px;
  background-color: white;
  border: 3px, solid, black;
  position: relative;
  left: 1000px;
  bottom: 515px;
}

#timer {
  position: relative;
  left: 1100px;
  bottom: 800px;
}

#playAgain {
  position: relative;
  left: 1100px;
  bottom: 800px;
}

#bestTimeInd {
  position: relative;
  left: 1100px;
  bottom: 800px;
}
