#character {
  width: 50px;
  height: 50px;
  background-color: red;
  border: 3px, solid, black;
  position: relative;
  transition: left 0.5s;
}

#character2 {
  width: 50px;
  height: 50px;
  background-color: black;
  border: 3px, solid, red;
  position: relative;
  transition: left 0.5s;
}
