* {
  font-family: "Rubik", sans-serif;
  font-size: large;
  font-weight: bold;
}

#info {
  position: relative;
  left: 1100px;
  bottom: 300px;
}

#character {
  width: 50px;
  height: 50px;
  background-color: red;
  border: 3px, solid, black;
  position: relative;
  transition: left 0.25s;
}

#bot1 {
  width: 50px;
  height: 50px;
  background-color: black;
  border: 3px, solid, red;
  position: relative;
  transition: left 0.25s;
}

#bot2 {
  width: 50px;
  height: 50px;
  background-color: green;
  border: 3px, solid, black;
  position: relative;
  transition: left 0.25s;
}

#bot3 {
  width: 50px;
  height: 50px;
  background-color: yellow;
  border: 3px, solid, black;
  position: relative;
  transition: left 0.25s;
}

#bot4 {
  width: 50px;
  height: 50px;
  background-color: blue;
  border: 3px, solid, black;
  position: relative;
  transition: left 0.25s;
}

#finishLine {
  width: 10px;
  height: 400px;
  background-color: white;
  border: 3px, solid, black;
  position: relative;
  left: 1000px;
  bottom: 275px;
}
